* {
    box-sizing: border-box;
}
/* ----------------------------------MOBILE VERSION----------------------------------*/
/* ----------------------------------Home Page----------------------------------*/
body{
    font-family:'Montserrat';
}
h1{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight:300;
}
h2{
    margin-top: 2rem;
    font-weight: 200;
    font-size:1.5rem;
}
p{
    margin-top: 2rem;
    font-weight: lighter;
    font-size:1rem;
    line-height: 1.5rem;
}
/* setting a background for the Navigation list */
.navigation{
    background-color: #000000;
}
/* styling the navigation list by taking the underline from the navigation list, giving a color displaying it as a block and giving a padding on top and in the bottom to create sapce */
.navigation a{
    text-decoration: none;
    display:block;
    width:100%;
    text-align: center;
    padding-top:1rem;
    padding-bottom:1rem;
    color:#FFFFFF;
}
/* Giving a background color to the navigation list everytime we hover */
.navigation a:hover {
    background-color: #FFFFFF;
    color:#000000;
}
/* excluding the fifth child of the navigation list from hovering */
.navigation a:nth-child(5){
    background-color: #000000;
}
/* giving the images a max width of 100% */
img{
    max-width:100%;
}

/* setting a width of 80% to the second container and aligning them in the center/ Aligning also the text to be centered */
.second-container{
    width:90%;
    margin:auto;
    text-align: center;
}
/* Adding a padding in the bottom of the welcome paragraph */
.second-container div:nth-child(1){
    padding-bottom:2rem;
}
/* header image display as a block so we can put the blockquote on top */
.image-container {
        background: url('../images/bashuri_B_portfolio.jpg');
        background-repeat: no-repeat;
        width: 100%;
        display: block;
        text-align: center;
        background-size: 100%;
        height: 290px;
    }
  /* Centering the blockquote and putting it on top of the header image */
  blockquote{
    display: block;
    width:90%;
    margin:auto;
    text-align: center;
  padding-top:5rem;
  padding-bottom:5rem;
}
   .center div{
    background-color: rgba(0, 0, 0, 0.7);
    color:#FFFFFF;
    padding:1rem;
   }  
      /* setting a margin on top and bottom for each "buy" div part of the class second-container */
  .buy{
      margin-top:2rem;
      margin-bottom:2rem;
  }
  /* Setting a padding to the bootstrap btn class */
  .btn{
      margin-top:1rem;
      margin-bottom:3rem;
      padding-left:3rem;
      padding-right:3rem;
  }
  /* Footer Area */
  /* Giving a margin top so it will be devided from the other part of the body */
  #footer{
    margin-top:1rem;
    padding-top:3rem;
    border-top:1px solid #000000;
}
  /* giving the second navigation two links a display flex */
  .second-navigation{
     display:flex;
justify-content:center;
  }
  form{
      margin-top:2rem;
      margin-bottom:1rem;
  }
  .input{
      border-radius: .5rem;
      padding:.5rem;
      border:1px solid #000000;
  }
  .button{
    border-radius: .4rem;
    padding:.5rem;
    border:1px solid #000000;
    color:#FFFFFF;
    background-color: #000000;
  }
  /* taking out the underline from the navigation list and giving a black color */
  .second-navigation a{
      text-decoration: none;
    color:#000000;
    padding:1rem;
  
}
.second-navigation a:hover {
    background-color:#000000;
    color:#FFFFFF;
    
}

/* displaying as a flex the social media links  */
footer .social-links a{
    font-size: 1.5rem;
  padding:.2rem 1rem;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    background-color: #000000;
    color:white;
  margin-top:1rem;
   
}

/* aligning the text of the footer in the center */
.footer-elements{
    text-align: center;
}

/* Aligning the copyright paragraph in the center */
.copyright1 p{
    text-align: center;
    padding-top:1rem;
 

}

/* ----------------------------------MOBILE VERSION----------------------------------*/
/* ----------------------------------About Page----------------------------------*/
.image-container_about{
    background: url('../images/image-container-about.jpeg');
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    text-align: center;
    background-size: 100%;
    height: 290px;
}
.about-content{
    text-align: center;
    margin-left:2rem;
    margin-right:2rem;
    margin-bottom:4rem;
    margin-top:4rem;
}
.about-content2{
    display:block;
}


/* ----------------------------------MOBILE VERSION----------------------------------*/
/* ----------------------------------Portfolio Page----------------------------------*/

.background{
    background-color: #000000;
    padding-left:4rem;
    padding-right:4rem;
     padding-bottom: 4rem;
}
.white{
    color:white;
}
.background h1{
    border-top: 2px solid #FFFFFF;
    margin-top:0rem;
    padding-top: 2rem;
    font-size:3rem;
    font-weight: 300;
    text-align: center;
}
.profile_img{
    padding-bottom:2rem;
    padding-top:2rem;
}
.photography_img{
    padding-bottom:2rem;
    padding-top:2rem;
}
.graphic_img{
    padding-bottom:2rem;
    padding-top:2rem;
}
.paintings_img{
    padding-bottom:2rem;
    padding-top:2rem;
}
/* ----------------------------------MOBILE VERSION----------------------------------*/
/* ----------------------------------Contact Page----------------------------------*/
.image-container_contact{
    background: url('../images/image_container_contact.jpeg');
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    text-align: center;
    background-size: 100%;
    height: 300px;
}
.bg-contact{
    text-align: center;
    margin-left:2rem;
    margin-right:2rem;
    margin-bottom:4rem;
    margin-top:4rem;
 
}
.contact-content{
    display:block;
}
.link1{
    text-decoration: none;
    color:#EF8354;
    font-weight: 400;
}
.link1:hover{
    color:#000000;
}
::placeholder{
  color:#FFFFFF;
}
.labels_form{
    color:#FFFFFF;
    text-align: right;
}
.heading_contact{
    text-align: center ;
}
.heading_contact h1{
    margin-top:4rem;
}
.heading_contact p{
    font-size: 1rem;
    margin-top:2rem;
    margin-bottom:2rem;
}
input[type=text], select, textarea {
    width: 100%; 
    display: inline-block;
    padding: .5rem; 
    border: 1px solid #FFFFFF; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: .5rem; 
    margin-bottom: 1rem; 
    resize: vertical;
    background-color:#000000;
   
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #FFFFFF;
    color: #000000;
    padding: .5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #000000;
    border:1px solid #FFFFFF;
    color:#FFFFFF;
  }
  
  /* Add a background color and some padding around the form */
  .container_contact {
    border-radius: 5px;
    background-color: #000000;
    padding: 2rem;
  }
  .contact_list{
      margin-top:5rem;
    
  }
  .contact_list h2{
      font-weight: 400;
      margin-bottom: 2rem;
  }
  
.contact_list h3{
color:#EF8354;
font-size:1rem;

}
.contact_list div{
    margin-bottom: 1rem;
    border-bottom: 1px dashed #000000; 
}
/* ----------------------------------Mobile VERSION----------------------------------*/
/* ----------------------------------Buy Page----------------------------------*/
.image-shopping{
    background: url('../images/shopping_1.jpeg');
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    text-align: center;
    background-size: 100%;
    height:300px;
    margin-bottom:2rem;
}
.container_contact{
    margin-left:1rem;
    margin-right:1rem;
}
.shop{
   
 margin-left:1rem;
 margin-right:1rem;
}
.pay{
    color:#FFFFFF;
    font-size:3rem;
}
.ac{
    color:#FFFFFF;
}
.icons{
    color:#FFFFFF;
    margin-bottom:1rem;
}
.butoni{
    margin-top:1rem;
}
.checku{
    color:white;
}
/* ----------------------------------Mobile VERSION----------------------------------*/
/* ----------------------------------Cart Page----------------------------------*/
.image-shoppingcart{
        background: url('../images/shopping.jpeg');
        background-repeat: no-repeat;
        width: 100%;
        display: block;
        text-align: center;
        background-size: 100%;
        height:300px;
        margin-bottom:2rem;
    
}
.texti{
    margin-left:2rem;
}
/* ----------------------------------Tablet VERSION----------------------------------*/
/* ----------------------------------Home Page----------------------------------*/

@media (min-width:700px) {
    h1{
        font-size: 4rem;
        font-weight:300;
    }
    h2{
        margin-top: 2rem;
        font-weight: 300;
        font-size:1.5rem;
    }
    p{
        
        font-size:1.2rem;
        line-height: 2rem;
    }
/* Display the top navigation as flex */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    color:#000000;
 
}
/* Changing the colour of the navigation elements and giving a padding */
.navigation a{
    color:black;
   padding-left: 20px;
   padding-right:20px;
}
/*Giving a style of a solid box border when we hover on the navigation */
.navigation a:hover {
    border: 1px solid #000000;
    border-radius:.5rem;
}
.center div{
    background-color: rgba(0, 0, 0, 0.7);
    color:#FFFFFF;
 padding-top:1rem;
 padding-bottom:2rem;
 
   } 

 .second-navigation a:hover {
        border-bottom: 1px solid #000000;
        background:#FFFFFF;
        color:#000000;
    }
   


/* ----------------------------------Tablet VERSION----------------------------------*/
/* ----------------------------------About Page----------------------------------*/

  /* Taking out the hover of the Logo */
  .image-logo a:hover{
    border: 1px solid  #FFFFFF;
  
}

 

 /* ----------------------------------Tablet VERSION----------------------------------*/
/* ----------------------------------Portfolio Page----------------------------------*/
.background h1{
    border-top:none;
}

/* Making the images of the Portfolio page width of 100% */
.background img{
    width: 100%;
}
/* styling the page the two sections of Paintings and Graphic using display grid */
.grid_items{
    display:grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "paintings graphic"          
}
.bashuri_graphic{
    grid-area: paintings;
}
.bashuri_paintings{
    grid-area: graphic;
}
 /* ----------------------------------Tablet VERSION----------------------------------*/
/* ----------------------------------Contact Page----------------------------------*/
.contact-content{
    margin:auto;
display:grid;
column-gap: 2rem;
grid-template-columns: repeat(2, 1fr);
grid-template-areas:
"container_contact contact_list"
}

.container_contact{
    grid-area: container_contact;
}
.contact_list{
    grid-area: contact_list;
}
.heading_contact h1{
    margin-top:4rem;
}
.heading_contact p{
    font-size: 1rem;
    margin-top:1rem;
}
.contact_list{
    margin-top:2rem;
  
}
/* ----------------------------------Tablet VERSION----------------------------------*/
/* ----------------------------------Buy Page----------------------------------*/
.container_contact{
    margin-top:4rem;
    margin-left:4rem;
    margin-right:4rem;
}
}
/* ----------------------------------Desktop VERSION----------------------------------*/
/* ----------------------------------Home Page----------------------------------*/
@media (min-width:1280px) {
/* Applying display flex to the nacvigation list and using justify content to set it up to the left of the page */
    .navigation {
        display: flex;
          justify-content: left;
         background-color: #FFFFFF;
        color:#000000;
        margin-left:2rem;
    
    }
    /* Creating some space in between the navigation items with a margin right */
  .navigation a{
      margin-right:4rem;
  }
  /* Taking out the hover of the Logo */
  .image-logo a:hover{
    border: 1px solid  #FFFFFF;
  
}
/* Increasing the height of the background image after the navigation list */
.image-container {
    height:500px;
}

/* Centering the blockquote together with the background with opacity by using the maring top */
.center div{
    background-color: rgba(0, 0, 0, 0.7);
    color:#FFFFFF;
 padding-top:3rem;
 padding-bottom:3rem;
 margin-top:6rem;
   } 
  .center p {
      font-size:1.8rem;
  }
  cite{
    font-size:1.5rem; 
  }
   .second-navigation{
       margin-bottom:2rem;
   }

 
/* ----------------------------------DESKTOP VERSION----------------------------------*/
/* ----------------------------------About Page----------------------------------*/
.image-container_about{
    height:500px;
}
.about-content{
    margin-left:auto;
    margin-right:auto;
}
.about-content2{
    display: grid;
    margin-right:4rem;
    margin-left:4rem;
column-gap: 2rem;
     grid-template-columns: repeat(2, 1fr);
     grid-template-areas:
     
     "paragraph1 paragraph2"

}

.paragraph1{
    grid-area:paragraph1;
    text-align: left;
}
.paragraph2{
    grid-area:paragraph2;
    text-align: left;
}



 /* ----------------------------------Desktop VERSION----------------------------------*/
/* ----------------------------------Portfolio Page----------------------------------*/

.background h1{
    border-top:none;
}
/* ----------------------------------Desktop VERSION----------------------------------*/
/* ----------------------------------ContactPage----------------------------------*/
.contact-content{
   column-gap: 4rem; 
}
.image-container_contact{
    height:500px;
}

.heading_contact p {
    margin-top:2rem;
    margin-bottom: 4rem;
    font-size:1.7rem;
}
.contact-content{
   max-width: 1400px;
  
}
.contact_list h3{
    font-size:1.5rem;
}
/* ----------------------------------DESKTOP VERSION----------------------------------*/
/* ----------------------------------Buy Page----------------------------------*/
.image-shopping{
    height:500px;
}
.container_contact{
    margin-top:6rem;
margin-left:auto;
margin-right:auto;
  width:50%;
}
/* ----------------------------------Mobile VERSION----------------------------------*/
/* ----------------------------------Cart Page----------------------------------*/
.image-shoppingcart{
    height:500px;
}
}